html,body {
margin: 0px;
padding: 0px;
border: 0px;
left: 0px;
top: 0px;
background: rgb(255,183,0);
background: linear-gradient(135deg, rgba(255,183,0,0.5438550420168067) 34%, rgba(165,111,166,0.6558998599439776) 100%);
}

#hBusca { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-shadow: 2px 4px 9px #545454;
    margin: auto;
    position: center;
    top: 1px;
}

#hCadastro {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 2px 4px 9px #545454;
    margin: auto;
    position: absolute;
    top: 1px;
    left: 20px;
}

#hRemove {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 2px 4px 9px #545454;
    margin: auto;
    position: absolute;
    top: 1px;
    right: 30px;
}


fieldset {
    margin: auto;
    width: 100px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    border-color: black;
}

p {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 20px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 350px;
}

input[type=email] {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 350px;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#button {
    position: relative;
    left: 130px;
    top: 200px;
    padding: 10px 20px;
    background: #fab700;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    box-shadow: 6px 6px 3px 1px rgba(0,0,0,0.74);
}

#button:hover {
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}

#buttonCadastro {
    position: absolute;
    left: 120px;
    top: 280px;
    padding: 10px 20px;
    background: #fab700;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    box-shadow: 6px 6px 3px 1px rgba(0,0,0,0.74);
}

#buttonCadastro:hover {
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}

#buttonRemover {
    position: absolute;
    left: 120px;
    top: 280px;
    padding: 10px 20px;
    background: #fab700;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    box-shadow: 6px 6px 3px 1px rgba(0,0,0,0.74);
}

#buttonRemover:hover {
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}

#cadastro {
    position: absolute;
    top: 50px;
    left: 20px;
}

#remover {
    position: absolute;
    right: 20px;
    top: 50px;
}